IA/PIA/redes_neuronales/chest_xray/
IA/SAA/regresion_dl/winequality-red.csv
IA/SAA/fraude_tarjeta/creditcard.csv
IA/PIA/redes_neuronales/winequality-red.csv
IA/PIA/tracking/Billar.mp4
IA/PIA/redes_neuronales/heart.csv
