IA/PIA/redes_neuronales/chest_xray/
IA/SAA/regresion_dl/winequality-red.csv
IA/SAA/fraude_tarjeta/creditcard.csv
IA/PIA/redes_neuronales/winequality-red.csv
IA/PIA/tracking/Billar.mp4
IA/PIA/redes_neuronales/heart.csv
IA/PIA/tracking/reviews.csv
IA/SAA/audio/data/
IA/SAA/autoencoders/creditcard.csv
BigData/Proyecto/inflacion_pais.csv
BigData/Proyecto/inflacion_por_pais_1960-2022.csv
BigData/Proyecto/salario_medio.csv
